.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  height: 68.5%;
  /* margin-bottom: -3rem; */
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 3rem;
}

.music-links {
    flex-direction: row;
    /* margin-left: -4rem; */
}

.code-links {
    /* margin-left: -4rem; */
}

.link {
    /* margin-right: 1rem !important; */
    margin: 0 1rem !important;
}

.toggle {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center !important;
    margin: .5rem .5rem 1.5rem;

}

.links.code {
  margin-left: 4.5rem;

  .buttonBack {
    width: 10rem !important;
  }
}

/* .toggle:hover {
    background-color: "none";
    text-decoration: "underline"
} */

@media only screen and (max-width: 428px) {
  .body-box {
    min-width: 0 !important;
    font-size: 1rem !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
  }

  p {
    font-size: 1.5rem !important;
    margin-top: 2rem !important;
  }

  .code-links {
    margin: 0
  }

  .links {
    margin: 0;
  }

  .links.code {
    margin: 0
  }

  .music-links {
    display: flex;
    flex-direction: column !important;
    margin: 0 5rem;
  }

  .code-links {
    display: flex;
    flex-direction: column !important;
  }

  .link {
    font-size: 1rem !important;
    margin: 1rem 0 1rem !important;
    border-radius: .5rem !important;
    padding: 2rem !important;
  }

  .toggle {
    margin: 0 !important;
    justify-content: center;
  }

  .question {
    margin: 0 !important;
  }

}

@media only screen and (max-width: 1200px) {
    .body-box {
        flex-direction: column !important;
        min-width: 0 !important;
        margin: 0 !important;
    }

    .music-links {
        display: flex;
        flex-direction: column !important;
        margin: 0;
    }

    .links.code {
        margin: 0;
    }

    .code-links {
        display: flex;
        flex-direction: column !important;
        margin: 0;
    }

    .link {
        margin: 1rem 0 1rem !important;
  }
}