.links {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

.music-links {
    flex-direction: row;
    margin-left: -4rem;
}

.code-links {
    margin-left: -4rem;
}

.link {
    margin-right: 1rem !important;
}

.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;

    .toggle-button {
         font-size: 1.8rem;
    }
}

.links.code {
    margin-right: -4.6rem;
}

.toggle:hover {
    background-color: "none";
    text-decoration: "underline"
}