.toggleButton {
    font-size: 1.8rem !important;
    background-color: rgb(219, 205, 205) !important;
    border-radius: 0 !important;

    padding: 2rem .7rem !important;

    transition: padding .08s !important;
    transition: font-size .05s !important;

    position: relative;
    z-index: 1;
    
    color: rgb(49, 47, 47) !important;
    border: solid 3px !important;
    border-color: rgb(181, 181, 181) !important;
    transition: border-color 0.05s !important;

    /* border-radius: .1re !important; */
}

.toggleButton:active, .toggleButton.clicked:active {
    background-color: rgba(219, 205, 205, 0.8) !important;
    transition: background-color 0s !important;
    
    padding: 1.7rem .5rem !important;
    font-size: 1.6rem !important;

    transition: padding .04s !important;
    transition: font-size .04s !important;
    
    border-color: rgb(109, 109, 109) !important;
    transition: border-color 0.05s !important;
}

.toggleButton.clicked {
    padding: 1.8rem .58rem !important;
    font-size: 1.7rem !important;

    border-color: rgb(117, 117, 117) !important;
    transition: border-color 0.05s !important;

    background-color: rgba(219, 205, 205, 0.8) !important;
    transition: background-color 0s !important;

    /* transition: padding .05s !important; */
    /* transition: font-size .05s !important; */
    text-decoration: none;
}

.cover {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    
    z-index: 2;
    pointer-events: none;
}

.buttonBack {
    display: flex;
    background-color: rgb(122, 122, 122);
    transition: background-color 0.06s !important;
    width: 11rem;
    height: 5rem;
    align-items: center;
    justify-content: center;

    border: solid 2px;
    border-color: rgb(68, 68, 68);
    /* border-radius: 1rem; */

    position: relative; 
}

.buttonBack:active, .buttonBack.clicked {
    background-color: rgb(87, 87, 87);
    transition: background-color 0.06s !important;
}